
template {
    display: block;
}

.active-window {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(44,62,80, 0.4);
    text-align: center;
}

.activeWindowFix {
    overflow-y: hidden;
}

.active-window:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}


.active-window__content {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    min-width: 250px;
    background-color: whitesmoke;
    padding: 10%;
    border-radius: 30px;
}


.active-window__title {
    display: block;
    font-size: 3rem;
    margin-bottom: 30px;
}

.active-window__btn {
    cursor: pointer;
    box-sizing: border-box;
    width: 70px;
    display: inline-block;
    padding: 10px;
    color: #ecf0f1;
}

.active-window__btn_ok {
    background-color: #1abc9c;
}

.active-window__btn_no {
    margin-left: 10%;
    background-color: crimson;
}