.wrap {
    min-height: 100%;
    background-color: #ecf0f1;
}

.wrap [rel="main"] {
    padding-bottom: 50px;
}

.content {
    padding-top: 30px;
}

.content__header {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.content__header h2 {
    margin: 0;
    padding: 0;
    color: #2c3e50;
    font-weight: 400;
    font-size: 20px;
}

.content__applications {
    margin-left: 10%;
    margin-right: 10%;
}

